.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

mat-card {
    width: 400px;
}

.login-form {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.full-width {
    width: 100%;
}

.login-button {
    width: 100%;
    height: 40px;
    font-weight: bold;
}

.form-field.ng-invalid.ng-touched {
  border-color: #f44336;
}
