<div class="app-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Configura tu 2FA</mat-card-title>
    </mat-card-header>

    <mat-card-content class="pt-10">
      <form [formGroup]="registrarOtpForm" (ngSubmit)="onSubmit()" class="app-form">
        <ul>
          <li>Instala la app de Google Authenticator en tu télefono.</li>
          <li>Escanea el siguiente código QR con la app, para introducir el código de 6 dígitos.</li>
        </ul>

        @if (otpauthUri() && otpauthUri() !== '') {
        <qrcode [qrdata]="otpauthUri()!" [width]="128" [errorCorrectionLevel]="'M'" class="center-content"></qrcode>
        }

        <!-- Otp -->
        <mat-form-field appearance="outline" class="app-form-field">
          <mat-label>Otp</mat-label>
          <input matInput type="password" inputmode="numeric" appDigitosDirective
            formControlName="otp" autocomplete="name">
          @if (otp?.hasError('required') && otp?.touched) {
          <mat-error>El otp es obligatorio</mat-error>
          }
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" class="app-button">
          Continuar
        </button>
      </form>

    </mat-card-content>
  </mat-card>
</div>