<div class="app-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Validar OTP</mat-card-title>
    </mat-card-header>

    <mat-card-content class="pt-10">
      <form [formGroup]="validarOtpForm" (ngSubmit)="onSubmit()" class="app-form">

        <!-- OTP -->
        <mat-form-field appearance="outline" class="app-form-field">
          <mat-label>OTP</mat-label>
          <input matInput type="password" inputmode="numeric" formControlName="otp" autocomplete="otp" appDigitosDirective>
          @if (otpControl?.hasError('required') && otpControl?.touched) {
            <mat-error>El OTP es obligatorio</mat-error>
          }
          @if (otpControl?.hasError('length') && otpControl?.touched) {
            <mat-error>Longitud de OTP invalida</mat-error>
          }
        </mat-form-field>

        <!-- Botón validación de Otp -->
        <button mat-raised-button color="primary" type="submit" class="app-button">
          Entrar
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>