@use '@angular/material' as material;
@use './theme-colors_coipa' as my-theme;

html {
  color-scheme: light; // light/ dark

  // Tema claro
  @include material.theme((
    color: (
      primary: my-theme.$primary-palette,
      tertiary: my-theme.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  @media (prefers-contrast: more) {
    @include my-theme.high-contrast-overrides(color-scheme);
  }
}