/* You can add global styles to this file, and also import other style files */
@use './custom-theme';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

app-root, mat-drawer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}