/* You can add global styles to this file, and also import other style files */
@use './custom-theme';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

app-root, mat-drawer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* FORMULARIOS */
mat-card {
    width: 400px;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-form {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.app-button {
    width: 100%;
    height: 40px;
    font-weight: bold;
}

.form-field.ng-invalid.ng-touched {
  border-color: #f44336;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
